# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Project specific
data/raw/*
data/processed/*
data/models/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/models/.gitkeep

# Logs
*.log
logs/
lightning_logs/

# Model checkpoints
checkpoints/

# Environment variables
.env

# OS specific
.DS_Store
Thumbs.db

# To-do list
TODO.*
README.txt